
{% extends 'polls/base.html' %}
{% load static %}
    {% block content %}
        <div class="container-fluid header bg-white p-0">
                <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                    <div class="col-md-6 p-5 mt-lg-5">
                        <h1 class="display-5 animated fadeIn mb-4">Giải Pháp <span class="text-primary">Thông Minh</span> Bảo Vệ Gia Đình Mọi Nhà</h1>
                        <p class="animated fadeIn mb-4 pb-2">Giải pháp cảnh báo cháy thông minh </p>

                    </div>
                    <div class="col-md-6 animated fadeIn">
                        <div class="owl-carousel header-carousel">
                            <div class="owl-carousel-item">
                                <img class="img-fluid" src="{% static 'polls/Anh/cam-index.jpg' %}" alt="">
                            </div>
                            <div class="owl-carousel-item">
                                <img class="img-fluid" src="{% static 'polls/Anh/cam2-index.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Header End -->
            <!-- Category Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                        <h1 class="mb-3">Thiết bị báo cháy 4.0</h1>
                        <p>Bảo vệ những gì bạn yêu quý nhất. <br>
                            Khi xảy ra sự cố  cháy nổ tại nơi lắp đặt thiết bị iProtect, hệ thống sẽ gửi đến người dùng thông báo notification, SMS, đồng thời tổng đài tự động iProtect sẽ gọi đến số điện thoại đã đăng ký thiết bị cùng thời điểm đó, rút ngắn thời gian phát hiện và giúp hạn chế thiệt hại.
                        </p>
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                            <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                                <div class="rounded p-4">
<!--                                    <div class="icon mb-3">-->
<!--                                        <img class="img-fluid" src="{% static 'polls/Anh/icon-villa.png' %}" alt="Icon">-->
<!--                                    </div>-->
                                    <h6>Nhận Dạng Nhanh Chóng</h6>
                                    <span>Nhanh chóng phát hiện được hỏa </span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                            <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                                <div class="rounded p-4">
<!--                                    <div class="icon mb-3">-->
<!--                                        <img class="img-fluid" src="{% static 'polls/Anh/icon-housing.png' %}" alt="Icon">-->
<!--                                    </div>-->
                                    <h6>Hiệu suất cao</h6>
                                    <span>Phát hiện chính xác hỏa hoạn</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                            <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                                <div class="rounded p-4">
<!--                                    <div class="icon mb-3">-->
<!--                                        <img class="img-fluid" src="{% static 'polls/Anh/icon-building.png' %}" alt="Icon">-->
<!--                                    </div>-->
                                    <h6>Hoạt động ổn định</h6>
                                    <span>Khả năng chống chịu thời tiết cao</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                            <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                                <div class="rounded p-4">
<!--                                    <div class="icon mb-3">-->
<!--                                        <img class="img-fluid" src="{% static 'polls/Anh/icon-neighborhood.png' %}" alt="Icon">-->
<!--                                    </div>-->
                                    <h6>Góc nhìn bao quát</h6>
                                    <span>Tùy chỉnh góc nhìn tổng thế</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                            <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                                <div class="rounded p-4">
<!--                                    <div class="icon mb-3">-->
<!--                                        <img class="img-fluid" src="{% static 'polls/Anh/icon-condominium.png' %}" alt="Icon">-->
<!--                                    </div>-->
                                    <h6>Xem trực tuyến</h6>
                                    <span>Có thể xem trực tuyến thông qua Camera</span>
                                </div>
                            </a>
                        </div>
<!--                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">-->
<!--                            <a class="cat-item d-block bg-light text-center rounded p-3" href="">-->
<!--                                <div class="rounded p-4">-->
<!--                                    <div class="icon mb-3">-->
<!--                                        <img class="img-fluid" src="img/icon-condominium.png" alt="Icon">-->
<!--                                    </div>-->
<!--                                    <h6>Ghi lại</h6>-->
<!--                                    <span>Có thể phát hiện được nguyên nhân gây hỏa hoạn</span>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </div>-->
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                            <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                                <div class="rounded p-4">
<!--                                    <div class="icon mb-3">-->
<!--                                        <img class="img-fluid" src="{% static 'polls/Anh/icon-luxury.png' %}" alt="Icon">-->
<!--                                    </div>-->
                                    <h6>Giải pháp</h6>
                                    <span>FireProtect sẽ luôn luôn đồng hành và sẻ chia cùng bạn</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Category End -->
    <!-- About Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5 align-items-center">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="about-img position-relative overflow-hidden p-5 pe-0">
                                <img class="img-fluid w-100" src="{% static 'polls/Anh/anh_loi_mo_dau.jpg' %}">
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                            <h1 class="mb-4">GIẢI PHÁP THÔNG MINH HÀNG ĐẦU</h1>
                            <p class="mb-4">Những hình ảnh cháy nổ đau lòng như thế này sẽ còn tiếp diễn nếu như chúng ta không coi trọng việc phòng cháy chữa cháy. Để nâng cao hiệu quả trong công tác phòng cháy chữa cháy, cần nâng cao ý thức tự giác, trách nhiệm của mọi người dân. Bên cạnh đó, cần trang bị những thiết bị giúp phòng chống cháy như bình chữa cháy, lắp đặt hệ thống chữa cháy, còi báo cháy,..tại những nơi dễ cháy như cầu dao, ổ cắm điện...</p>
                            <p class="mb-4"> <i>Hãy để iProtect như một người bạn, một chú lính chì dũng cảm, âm thầm ngày đêm canh giấc ngủ ngon cho các thành viên trong gia đình, và những chuyến du lịch xa nhà, các bạn không cần phải lo nghĩ gì cả mà có thể tận hưởng trọn vẹn niềm vui bên người thân, bạn bè!</i> </p>

                            <p><i class="fa fa-check text-primary me-3"></i>Phát hiện lửa </p>
                            <p><i class="fa fa-check text-primary me-3"></i>Âm lượng báo cháy</p>
                            <p><i class="fa fa-check text-primary me-3"></i>Gửi thông báo cho người dùng</p>
                            <a class="btn btn-primary py-3 px-5 mt-3" href="{% url 'userMember:registerUser' %}">Đăng Ký Ngay</a>
                        </div>
                    </div>
                </div>
            </div>
     <!-- About End -->
    <!-- Call to Action Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="bg-light rounded p-3">
                        <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                            <div class="row g-5 align-items-center">
                                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                                    <img class="img-fluid rounded w-100" src="{% static 'polls/Anh/Mo-hinh-camera-bao-chay-FireSmart.png' %}" alt="">
                                </div>
                                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="mb-4">
                                        <h1 class="mb-3">Mô hình cảnh báo</h1>
                                        <p>Sử dụng công nghệ hiện đại, có độ nhạy cao. Thiết bị sẽ tự động hú còi báo động khi Camera phát hiện có khói, có cháy tại vị trí lắp đặt thiết bị. Thích hợp dùng để lắp đặt tại một số vị trí trong ngôi nhà của bạn như: Nhà bếp, nhà kho, phòng ăn, phòng khách, phòng ngủ… Hay tại các cửa hàng, xưởng sản xuất, văn phòng công ty, các căn hộ chung cư…</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Call to Action End -->
    <!-- Team Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                        <h1 class="mb-3">Cách thức hoạt động</h1>
                        <p>Mỗi khi có cháy xảy ra tại nơi có lắp đặt thiết bị báo cháy sẽ tự động hú còi, đồng thời sẽ gửi tín hiệu về bộ báo trộm trung tâm => Trung tâm sẽ hú còi báo động tại nơi lắp đặt Camera cảnh báo</p>
                        <p>Bộ trung tâm và thiết bị báo khói được kết nối thu phát tín hiệu hoàn toàn không dây bằng sóng vô tuyến. Bạn có thể kết hợp một trung tâm với nhiều thiết bị báo khói.</p>
                        <p>Chỉ cần như vậy thôi là bạn sẽ có được một giải pháp báo cháy thông minh, giúp bạn kịp thời phát hiện mỗi khi có hỏa hoạn.</p>
                    </div>
                </div>
            </div>
            <!-- Team End -->
     <!-- Testimonial Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                        <h1 class="mb-3">Khách Hàng Của Chúng Tôi</h1>
                        <p>Tất cả mọi người trong mọi lĩnh vực. Từ gia đình, y tế, trường học, nghiên cứu,... FireProtect sẽ giúp bạn yên tâm hơn trong việc phát hiện kịp thời hỏa hoạn trong trường hợp ngoài ý muốn</p>
                    </div>
                    <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                        <div class="testimonial-item bg-light rounded p-3">
                            <div class="bg-white border rounded p-4">
                                <p>FireProtect tuyệt vời hơn ngoài mong đợi. Gia đình chúng tôi đã an tâm hơn khi có FireProtect đồng hành cùng!</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid flex-shrink-0 rounded" src="{% static 'polls/Anh/client1.jpg' %}" style="width: 45px; height: 45px;">
                                    <div class="ps-3">
                                        <h6 class="fw-bold mb-1">Hà Anh Tuấn</h6>
                                        <small>Ca Sĩ</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item bg-light rounded p-3">
                            <div class="bg-white border rounded p-4">
                                <p>Trong một lần xảy ra hỏa hoạn ở phòng khách. Nếu không nhờ Camera phát hiện đám cháy kịp thời thì không biết giờ đã ra sao nữa. Xin cảm ơn FireProtect rất nhiều!!!</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid flex-shrink-0 rounded" src="{% static 'polls/Anh/client2.jpg' %}" style="width: 45px; height: 45px;">
                                    <div class="ps-3">
                                        <h6 class="fw-bold mb-1">Bằng Kiều</h6>
                                        <small>Du Học Mỹ</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item bg-light rounded p-3">
                            <div class="bg-white border rounded p-4">
                                <p>Sản phẩm tuyệt vời, sẽ giới thiệu cho bạn bè và người thân sử dụng.</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid flex-shrink-0 rounded" src="{% static 'polls/Anh/client3.jpg' %}" style="width: 45px; height: 45px;">
                                    <div class="ps-3">
                                        <h6 class="fw-bold mb-1">Haruki Murakami</h6>
                                        <small>Tiểu Thuyết Gia</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial End -->
{% endblock %}