{% extends 'polls/base.html' %}
{% block news %}
{% load static %}
<!-- Navbar End -->
            <!--news Start-->
            <br><br>
            <h2>CẨM NANG PHÒNG CHÁY</h2>
            <p>Theo thống kê, có 02 nhóm nguyên nhân gây cháy chủ yếu: Do sự cố
                hệ thống điện (dây và cáp điện, thiết bị đóng ngắt, công tắc, ổ
                cắm …) và thiết bị điện (bóng đèn, bàn là, tủ lạnh, quạt, bếp,
                nồi cơm điện…); Do sơ suất của con người trong sử dụng lửa, xăng
                dầu, khí đốt, hóa chất...Để cung cấp một số kiến thức cơ bản
                nhằm bảo đảm thiết bị PCCC và thoát nạn tại hộ gia đình.Cục Cảnh
                sát PCCC và CNCH chính thức phát hành "Cẩm nang PCCC trong gia
                đình” như sau:</p>
            <div class="con align-self-sm-center">
                <div class="owl-carousel-item ">
                    <img class="img-fluid"
                        src="{% static 'polls/Anh/cam-nang-ve-thiet-bi-pccc-0.jpg' %}" alt="">
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid"
                        src="{% static 'polls/Anh/cam-nang-ve-thiet-bi-pccc-1.jpg' %}" alt="">
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid"
                        src="{% static 'polls/Anh/cam-nang-ve-thiet-bi-pccc-2.jpg' %}" alt="">
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid"
                        src="{% static 'polls/Anh/cam-nang-ve-thiet-bi-pccc-3.jpg' %}" alt="">
                </div>

                <div class="owl-carousel-item">
                    <img class="img-fluid"
                        src="{% static 'polls/Anh/cam-nang-ve-thiet-bi-pccc-4.jpg' %}" alt="">
                </div><div class="owl-carousel-item">
                    <img class="img-fluid"
                        src="{% static 'polls/Anh/cam-nang-ve-thiet-bi-pccc-5.jpg' %}" alt="">
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid"
                        src="{% static 'polls/Anh/cam-nang-ve-thiet-bi-pccc-6.jpg' %}" alt="">
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid"
                        src="{% static 'polls/Anh/cam-nang-ve-thiet-bi-pccc-7.jpg' %}" alt="">
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid"
                        src="{% static 'polls/Anh/cam-nang-ve-thiet-bi-pccc-8.jpg' %}" alt="">
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid"
                        src="{% static 'polls/Anh/cam-nang-ve-thiet-bi-pccc-9.jpg' %}" alt="">
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid"
                        src="{% static 'polls/Anh/cam-nang-ve-thiet-bi-pccc-10.jpg' %}" alt="">
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid"
                        src="{% static 'polls/Anh/cam-nang-ve-thiet-bi-pccc-11.jpg' %}" alt="">
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid"
                        src="{% static 'polls/Anh/cam-nang-ve-thiet-bi-pccc-12.jpg' %}" alt="">
                    <div class="owl-carousel-item">
                        <img class="img-fluid"
                            src="{% static 'polls/Anh/cam-nang-ve-thiet-bi-pccc-13.jpg' %}" alt="">
                    </div>
                    <div class="owl-carousel-item">
                        <img class="img-fluid"
                            src="{% static 'polls/Anh/cam-nang-ve-thiet-bi-pccc-14.jpg' %}" alt="">
                    </div>
                </div>
            </div>

            <!--news End-->
{% endblock %}