{% extends 'polls/base.html' %}
{% block question %}
{% load static %}
<br><br>
            <h2>CÂU HỎI THƯỜNG GẶP</h2>
            <p>FireProtect cam kết cung cấp đến khách hàng những giải pháp phòng ngừa hỏa hoạn uy tín và đáng tin cậy nhằm giúp cho các quyết định quan trọng của khách hàng trở nên dễ dàng hơn. Trong đó bao gồm cả việc đảm bảo tính bảo mật đối với tất cả các thông tin cá nhân của chính họ. Trong quá trình quản lý thông tin, Chúng tôi luôn tuân thủ theo các Nguyên tắc Bảo mật sau đây: </p>
            <div>
                <b>Thông tin thu nhập</b>
                <p>Chúng tôi tiến hành thu thập thông tin trực tiếp từ khách hàng và từ các nguồn khác nhau thông qua những cách thức minh bạch và hợp pháp.</p>
                <p>Thông tin chúng tôi thu thập về khách hàng dựa trên mối quan hệ với chính khách hàng, bao gồm tên, giới tính, ngày sinh, nghề nghiệp, thông tin liên quan đến định danh (ví dụ thông tin chứng minh nhân dân, căn cước công dân, hộ chiếu hoặc các tài liệu định danh có ảnh khác, số Bảo hiểm Xã hội), thông tin liên hệ, thông tin về cách sử dụng sản phẩm và dịch vụ của chúng tôi, các thông tin về sở thích, nhân khẩu và những mối quan tâm của khách hàng, và những thông tin khác Khách hàng đã cung cấp cho chúng tôi. </p>
                <p>Chúng tôi chỉ thu thập những thông tin được yêu cầu, hoặc có liên quan đến việc cung cấp sản phẩm và dịch vụ nhằm hiểu rõ hơn nhu cầu của khách hàng.</p>
                <br>
                <b>Sử dụng thông tin cá </b>
                <p>Chúng tôi chỉ sử dụng hoặc tiết lộ thông tin cá nhân của khách hàng theo đúng mục đích thu thập, hoặc vì các mục đích khác mà khách hàng đồng ý, hoặc trong các trường hợp mà pháp luật quy định.</p>
                <p>Chúng tôi sẽ giữ thông tin cá nhân của khách hàng cho đến khi chúng không còn cần thiết để đáp ứng các mục đích thu thập hoặc khi pháp luật có quy định.</p>
                <p>Chúng tôi tập trung vào việc đảm bảo hồ sơ thông tin cá nhân của khách hàng luôn chính xác và được cập nhật liên tục, việc đó là cần thiết để có thể đạt được các mục đích sử dụng của thông tin.</p>
                <br>
                <b>Phương thức bảo vệ</b>
                <p>Chúng tôi sẽ bảo vệ thông tin cá nhân của khách hàng bằng những phương thức bảo vệ an ninh phù hợp với mức độ quan trọng của thông tin, ngăn chặn hành vi truy cập, công bố, sửa đổi hoặc sử dụng thông tin trái phép.</p>
                <p>Chúng tôi chịu trách nhiệm đối với thông tin cá nhân thuộc quyền sở hữu của chúng tôi, bao gồm các thông tin được chuyển đến các nhà cung cấp dịch vụ hiện đang thực hiện nhiệm vụ thay mặt chúng tôi. Khi chia sẻ thông tin cá nhân với các nhà cung cấp dịch vụ, họ có trách nhiệm bảo vệ thông tin bằng những biện pháp phù hợp với thực tiễn và chính sách bảo mật của chúng tôi.</p>
                <br>
                <b>Cam kết bảo mật</b>
                <p>Chúng tôi cam kết sẽ quản lý thông tin cá nhân dưới sự kiểm soát cẩn trọng. Chúng tôi có đội ngũ nhân viên chịu trách nhiệm giám sát việc tuân thủ các Nguyên tắc Bảo mật của Chúng tôi.</p>
                <p>Chúng tôi sẽ đảm bảo thông tin về chính sách bảo mật và thực tiễn việc quản lý thông tin cá nhân của chúng tôi dễ dàng truy cập dành cho khách hàng.</p>
            </div>



            <!--Content End-->

{% endblock %}