<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'realcam/style.css'  %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'polls/bootstrap.min.css'  %}">

    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'polls/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'polls/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

     <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'polls/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'polls/css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="container-xxl bg-white p-0">
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!-- Spinner End -->


            <!-- Navbar Start -->
            <div class="container-fluid nav-bar bg-transparent">
                <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
                    <a href="{% url 'realcam:index' %}" class="navbar-brand d-flex align-items-center text-center">
                        <div class="icon p-2 me-2">
                            <img class="img-fluid" src="{% static 'polls/Anh/cctv-camera.png' %}" alt="Icon" style="width: 30px; height: 30px;">
                        </div>
                        <h1 class="m-0 text-primary">FireProtect</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ms-auto">
                            <ol class="breadcrumb text-uppercase">
                                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'polls:home' %}">Trang chủ</a> </li>
                                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'realcam:warning' %}">Lịch sử cảnh báo</a> </li>
                                <li class="breadcrumb-item text-body active" aria-current="page">Welcome, <b>{{request.user}}</b> </li>
                                <div class="nav-item dropdown breadcrumb-item" style="cursor: pointer;"><i class="fas fa-user-cog" style="color: #00B98E; font-size: 21px;" ></i>
                                    <div class="dropdown-menu rounded-0 m-0">
                                        <a href="{% url 'userMember:edit_profile' %}" class="dropdown-item  ">Profile</a>
                                        <a href="{% url 'userMember:change_password' %}" class="dropdown-item  ">Change Password</a>
                                        <a href="{% url 'userMember:logout' %}" class="dropdown-item  ">Log out</a>
                                    </div>
                                </div>
                            </ol>
                        </div>
                    </div>
                </nav>
            </div>
        {% block video %} {% endblock %}
        {% block warning_list %} {% endblock %}
        {% block edit_profile %} {% endblock %}
        {% block change_password %} {% endblock %}
    <!--    footer-->
        <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Liên Hệ</h5>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Viet Nam Maritime University,</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>vmu@st.vimaru.edu.vn</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Quick Links</h5>
                        <a class="btn btn-link text-white-50" href="">Về Chúng TÔi</a>
                        <a class="btn btn-link text-white-50" href="">Chính sách</a>
                        <a class="btn btn-link text-white-50" href="">Tin Tức</a>
                        <a class="btn btn-link text-white-50" href="">Điều khoản</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Tư vấn</h5>
                        <p>Vui lòng để lại email, chúng tôi sẽ liên lạc với bạn một cách sớm nhất</p>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">FireProtect</a>, All Right Reserved.

                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Home</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
     <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'polls/lib/wow/wow.min.js'%}"></script>
    <script src="{% static 'polls/lib/easing/easing.min.js'%}"></script>
    <script src="{% static 'polls/lib/waypoints/waypoints.min.js'%}"></script>
    <script src="{% static 'polls/lib/owlcarousel/owl.carousel.min.js'%}"></script>
    <!-- Template Javascript -->
    <script src="{% static 'polls/js/main.js' %}"></script>
</body>
</html>